@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #f1f1f1;
    --bg-secondary: #fdfdfd;
    --dark-gray:#333;
    --light-brown:#c7a17a;
    --black: #1f2226
}


body{
      font-family: "Open Sans", sans-serif;
}
h1 , h2 , h3 {
      font-family: "Oswald", sans-serif;
    color: #442e16;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
 /* utility classes */
 .container{
    max-width: 1200px;
    margin: auto;
 }
 .text-primary{
color: #934a01;
 }
 .heading{
    text-align: center;
 }
 .heading span{
    font-size: 15px;
    font-weight: 600;

 }
 .heading h2{
    font-size: 40px;
    font-weight: 500;
        text-transform: uppercase;

 }
/* Header Start  */
#header{
position: fixed ;
background-color: var(--bg-secondary);
width: 100%;
border-bottom: 1px solid #ccc;
}
.navbar{
    display: flex;
justify-content:space-between;
align-items: center;
max-width: 1200px;
margin: auto;
height: 75px;
}
.navbar a{
    display: flex;
    align-items: center;
}
.navbar  .logo {
width: 40px;
}
.navbar a h1{
color: #934a01;
}
.navbar ul{
    display: flex;
}
.navbar ul li a{
    color: #442e16;
    font-size: 17px;
    margin: 0 20px;
    font-weight:700;
    transition: all 0.3s ease ; 

}
.navbar ul li a:hover{
    color: var(--light-brown);

}
/* Header End  */
 
/* home start */
#home{
    background: url("./images/home-bg.png") center no-repeat;
    background-size: 100%;
          background-color: var(--bg-color);

          

}
#home .home-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  min-height: 100vh;
  gap: 3rem;
  align-items: center;
}
.home-content img{
width: 100%;
    transition: all 0.95s ease ; 
}
.home-content img:hover{
  transform: rotate(180deg);

}
#home .home-content .content-text h3 {
font-size: 24px;
font-weight: 400;
}
#home .home-content .content-text h1 {
font-size: 80px;
margin: 20px 0;
line-height: 1.3;
}
#home .home-content .content-text p {
    font-size: 18px;
    line-height: 1.5;
}
#home .home-content .content-text .btn{
    display: inline-block;
    margin-top: 2rem;
    border: 1px solid #934a01;
    border-radius: 50px;
    padding: 15px;
    background-color: #934a01;
    color: var(--bg-color);
        transition: all 0.3s ease ; 


}
#home .home-content .content-text .btn:hover{

     
    background-color: rgb(173, 113, 53);
    border: 1px solid  rgb(173, 113, 53);
}

/* home end */
/*About Start*/
#about , #menu , #testimonials , #contact{
    padding: 6rem 0;

}
#about .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
}
#about .about-content h2{

    font-size: 28px;
    margin-bottom: 10px;

}

#about .about-content .item{
    margin: 15px 0;
}

#about .about-content .item h3{

    margin: 10px 0;
}

/*About End*/

/*Menu Start*/
#menu {
    background-color: var(--bg-secondary);
}
#menu .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    gap: 5rem;
    align-items: center;


}
#menu .row .col .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    border: 1px solid #ddd;
    padding: 20px 20px;

        transition: all 0.2s ease ; 

}
#menu .row .col .item:hover{
height: 120px;
  box-shadow: 0 0 10px rgba(44, 18, 3, 0.592);
}
#menu .row .col .item img{
width: 70px;
margin-right: 20px;
margin-left: -50px;

}
#menu .row .col .item .details h3{
    margin-bottom: 5px;

}
#menu .row .col .item .details p{
    font-size: 14px;
    line-height: 1.6;

}
#menu .row .col .item .price{
    border-left: 1px solid #ccc;
    padding: 20px;
    margin: auto;

}
#menu .row .col .item .price p{
    font-size: 20px;
    font-weight: 600;

}

/*Menu End*/
 /*Testimonials Start*/
#testimonials .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 6rem;
    gap: 2.5rem;
}
#testimonials .row .item{
 background-color: var(--bg-color);  
 text-align: center; 
 padding:25px 25px 35px ;
}
#testimonials .row .item img{
    width:100px ;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid white;
    margin-top: -50%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.629);
}
#testimonials .row .item h3{
    margin: 20px 0 10px ;
}
#testimonials .row .item p {
    line-height: 1.6;
}
 /*Testimonials End*/